* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 16px;
}

.linkback{
  margin-bottom: 20px;
  padding: 5px;
  color: black;
}

.gallery{
  list-style: none;
  display: flex;
  max-width: 1000px;
  margin: auto;
  row-gap: 40px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.inside-list{
  list-style: none;
}


.top-list{
  list-style: none;
}

input::placeholder{
  font-weight: bold;
  background-color: #212121;
  color: white;
}


.login-form{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.widget{
  align-items: center;
  color: rgb(255, 0, 0);
  background-color: white;
  gap: 20px;
  width: 200px;
  height: 120px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
}

.change-color{
  align-items: center;
  background-color: red;
  color: black;
  display: flex;
}

.change-color:hover,
.change-color:focus{
  background-color: pink;
}

